In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:12 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,540 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,965 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,105 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,318 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,079 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,396 kB]
Get:20 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.2 kB]
Fetched 13.7 MB in 5s (2,982 kB/s)
Reading package lists... Done

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [3]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Shoes_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   18069663|R3P2HIOQCIN5ZU|B000XB31C0|     265024781|Minnetonka Men's ...|           Shoes|          1|            0|          0|   N|                Y|                   .|Do not buy: reall...| 2015-08-31|
|         US|   16251825|R12VVR0WH5Q24V|B00CFYZH5W|     259035853|Teva Men's Pajaro...|           Shoes|          5|            0|          0|   N|                Y|     super flip flop|provides great cu...| 2015-08-31|
|         US|   20381037| RNCCKB6TV5EEF|B00S8JNN3Q|     666066660|Anne Klein Perfec...|           Shoes|          4|            0|          0|   N|                Y| Great clutch purse!|It's perfect if y...| 2015-08-31|
|         US|     108364|R2NZXYIVCGB13W|B00XFBPOQG|     448483263|adidas Men's 10K ...|           Shoes|          5|            0|          6|   N|                Y|              Badass|  Getting what u see| 2015-08-31|
|         US|   45449350|R2EQ1TG9IT3OEQ|B00SW64Y9W|       7853171|OverBling Sneaker...|           Shoes|          3|            0|          0|   N|                Y|         Three Stars|               small| 2015-08-31|
|         US|   19324665|R1WXA9JSC2H1U1|B011F9E6LI|      14311457|MESSI 15.3 FG/AG ...|           Shoes|          5|            1|          1|   N|                Y|          Five Stars|My 13 year old so...| 2015-08-31|
|         US|   50073594|R12ENYLFGGNWRV|B00HAUP1OI|     264821602|Hoka One One Men'...|           Shoes|          5|            1|          1|   N|                Y|Finally, some cus...|Ok, I have been s...| 2015-08-31|
|         US|   21706057|R2R07E5PNXEUO5|B00L1RKOKW|     767118055|Olukai Nohea Mesh...|           Shoes|          4|            0|          0|   N|                Y|good deal, but ha...|I went a full siz...| 2015-08-31|
|         US|   13708216|R27BA52AKWMWN3|B005WA9MSE|     813856438|Carolina Mens 6" ...|           Shoes|          5|            0|          0|   N|                Y|... would have to...|I would have to s...| 2015-08-31|
|         US|   40542649| RLF8DOID2KD5O|B00BEYQI5C|     661491213|Alegria Women's S...|           Shoes|          3|            0|          0|   N|                Y|           Too small|The size is misle...| 2015-08-31|
|         US|   13409446|R369CEXHXHC6NQ|B00EYAFTCQ|     332158165|Naturalizer Women...|           Shoes|          5|            0|          0|   N|                Y|          Five Stars|These shoes are v...| 2015-08-31|
|         US|    9451727|R171PPIJXFONVI|B00I0QHY32|      49243908|Forever Link Wome...|           Shoes|          5|            0|          0|   N|                Y|          Five Stars|I love these sand...| 2015-08-31|
|         US|     193731|R2JDNM8F2P06FU|B010FZZKYA|     161497902|Versace Collectio...|           Shoes|          4|            1|          1|   N|                Y|          Four Stars|Good quality shoe...| 2015-08-31|
|         US|   34798634|R2W977FO4M97XT|B00V8B30K2|     759958795|Twisted Girl's Ch...|           Shoes|          5|            0|          1|   N|                Y|Good shoes, comfo...|My daughter reall...| 2015-08-31|
|         US|   37235551|R3AM24QPLI28UY|B00LAVB1TC|     910150896|Travel Smart Hand...|           Shoes|          2|            1|          2|   N|                Y|           Two Stars|         It's okay .| 2015-08-31|
|         US|   27081399| REDVXSFYVNT5T|B003C1P8B0|     762792587|Saucony Originals...|           Shoes|          5|            0|          0|   N|                Y|    Love these shoes|Love these shoes!...| 2015-08-31|
|         US|     120678|R14AIIK7D6ENDZ|B000W3UL7W|     123724495|Dr. Marten's Wome...|           Shoes|          5|            0|          0|   N|                Y|          Five Stars|                Good| 2015-08-31|
|         US|   22272389|R3B1NURKMCVAL1|B00LX65PQO|     848850234|Skechers Performa...|           Shoes|          3|            2|          2|   N|                Y|         Three Stars|I like the go wal...| 2015-08-31|
|         US|   19584241|R14Q1GZGV10IMX|B00BEE7N3I|     211637196|Hi-Tec Kid's Nepa...|           Shoes|          4|            0|          0|   N|                Y|          Four Stars|Kids love them fo...| 2015-08-31|
|         US|   12334573| R9BHBB06QD6TM|B008NCHMBW|     138572112|Foot Sox Original...|           Shoes|          1|            2|          2|   N|                Y|Tissue paper is t...|Tissue paper is t...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [4]:
# Create the vine_table dataframe
vine_df = df.select(['review_id','star_rating','helpful_votes',
                          'total_votes','vine','verified_purchase'])

vine_df.show(5)

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R3P2HIOQCIN5ZU|          1|            0|          0|   N|                Y|
|R12VVR0WH5Q24V|          5|            0|          0|   N|                Y|
| RNCCKB6TV5EEF|          4|            0|          0|   N|                Y|
|R2NZXYIVCGB13W|          5|            0|          6|   N|                Y|
|R2EQ1TG9IT3OEQ|          3|            0|          0|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 5 rows

In [7]:
# filter by number of votes so that only meaningul reviews are analyzed
# filtering also prevents us from dividing by zero later on

filtered_by_votes_df = vine_df.filter("total_votes>=20")

filtered_by_votes_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R37F42INKX7L9K|          5|           45|         49|   N|                Y|
|R2EHKYNEP8WVSR|          5|           25|         25|   N|                Y|
| RXOS7BHID0UHL|          5|           16|         27|   N|                N|
|R33HHGFPB403GM|          5|           19|         21|   N|                Y|
| RY9O9XNLP464N|          2|           19|         22|   N|                Y|
|R2VP11C28JAEZF|          5|           30|         30|   N|                Y|
|R1TXGR1HA2M3P3|          5|           28|         29|   N|                Y|
| R6OD85TMEMHQQ|          5|           28|         28|   N|                Y|
|R1G4PAJXP3FTN7|          2|           43|         51|   N|                Y|
|R2P2S8UGUMCOLX|          5|           21|         22|   N|                Y|
| RBTQKXGJ9RP7C|          1|           33|         33|   N|                Y|
|R342L93CXGDZO5|          2|           73|         76|   N|                Y|
|R31Z97KFD4HMNF|          3|           23|         26|   N|                Y|
|R2NDB7EQLYK87A|          5|           44|         46|   N|                Y|
|R1C0W0OSBCVXC2|          1|           45|         46|   N|                Y|
|R154Q41ID7FTFC|          5|           24|         26|   N|                Y|
|R3GFX9ZNZ0T3TA|          1|           35|         35|   N|                Y|
|R2H8MH0N2IZKMY|          5|           22|         23|   N|                Y|
|R1MYE8WQ3812L8|          5|           17|         20|   N|                Y|
| RYSL8MU2858GB|          5|           71|         73|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [8]:
# filter by reviews that a generally considered to be "helpful"
filtered_by_ratio_df = filtered_by_votes_df.filter("helpful_votes / total_votes >= 0.5")

filtered_by_ratio_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R37F42INKX7L9K|          5|           45|         49|   N|                Y|
|R2EHKYNEP8WVSR|          5|           25|         25|   N|                Y|
| RXOS7BHID0UHL|          5|           16|         27|   N|                N|
|R33HHGFPB403GM|          5|           19|         21|   N|                Y|
| RY9O9XNLP464N|          2|           19|         22|   N|                Y|
|R2VP11C28JAEZF|          5|           30|         30|   N|                Y|
|R1TXGR1HA2M3P3|          5|           28|         29|   N|                Y|
| R6OD85TMEMHQQ|          5|           28|         28|   N|                Y|
|R1G4PAJXP3FTN7|          2|           43|         51|   N|                Y|
|R2P2S8UGUMCOLX|          5|           21|         22|   N|                Y|
| RBTQKXGJ9RP7C|          1|           33|         33|   N|                Y|
|R342L93CXGDZO5|          2|           73|         76|   N|                Y|
|R31Z97KFD4HMNF|          3|           23|         26|   N|                Y|
|R2NDB7EQLYK87A|          5|           44|         46|   N|                Y|
|R1C0W0OSBCVXC2|          1|           45|         46|   N|                Y|
|R154Q41ID7FTFC|          5|           24|         26|   N|                Y|
|R3GFX9ZNZ0T3TA|          1|           35|         35|   N|                Y|
|R2H8MH0N2IZKMY|          5|           22|         23|   N|                Y|
|R1MYE8WQ3812L8|          5|           17|         20|   N|                Y|
| RYSL8MU2858GB|          5|           71|         73|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [10]:
# dataframe containing paid reviews
filtered_by_vine_status_df = filtered_by_ratio_df.filter("vine=='Y'")

filtered_by_vine_status_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R2N45ZKRRZS856|          5|           21|         22|   Y|                N|
| R5OMLMK13A8NS|          5|           34|         38|   Y|                N|
|R2MPEQ4SPTEQNS|          4|          180|        184|   Y|                N|
| RIR0D3KJ0CQ31|          4|           21|         21|   Y|                N|
|R1SPWJDHUWWC5E|          5|           88|         98|   Y|                N|
|R1X6M5XA3FT98W|          5|           24|         26|   Y|                N|
|R37VCW6HA0Z72T|          5|           27|         28|   Y|                N|
|R2XRYNV2SY3ZKL|          5|           53|         56|   Y|                N|
|R1Y93KWKAX1P5N|          2|           26|         31|   Y|                N|
|R2QVTDYYLTP8SL|          5|           21|         24|   Y|                N|
|R3KOK2SH39BZU1|          3|           94|         96|   Y|                N|
|R2VOM73EHLPXJW|          4|           35|         38|   Y|                N|
|R3SEZS7BZEC69Y|          5|           16|         20|   Y|                N|
|R1MJ5J272V19O6|          4|           49|         51|   Y|                N|
|R3A7BQX1JDKOM5|          4|           20|         20|   Y|                N|
|R1307JMPUEQXOW|          5|           31|         35|   Y|                N|
| RXV0SDXE5B15T|          2|           39|         42|   Y|                N|
| RBMDYE7LUH9FI|          5|           26|         32|   Y|                N|
|R1N4W961QV59BV|          5|           25|         34|   Y|                N|
|R11XKHFS4KQS3Z|          4|          205|        211|   Y|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [12]:
# dataframe containing unpaid reviews
filtered_by_no_vine_status_df = filtered_by_ratio_df.filter("vine=='N'")

filtered_by_no_vine_status_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R37F42INKX7L9K|          5|           45|         49|   N|                Y|
|R2EHKYNEP8WVSR|          5|           25|         25|   N|                Y|
| RXOS7BHID0UHL|          5|           16|         27|   N|                N|
|R33HHGFPB403GM|          5|           19|         21|   N|                Y|
| RY9O9XNLP464N|          2|           19|         22|   N|                Y|
|R2VP11C28JAEZF|          5|           30|         30|   N|                Y|
|R1TXGR1HA2M3P3|          5|           28|         29|   N|                Y|
| R6OD85TMEMHQQ|          5|           28|         28|   N|                Y|
|R1G4PAJXP3FTN7|          2|           43|         51|   N|                Y|
|R2P2S8UGUMCOLX|          5|           21|         22|   N|                Y|
| RBTQKXGJ9RP7C|          1|           33|         33|   N|                Y|
|R342L93CXGDZO5|          2|           73|         76|   N|                Y|
|R31Z97KFD4HMNF|          3|           23|         26|   N|                Y|
|R2NDB7EQLYK87A|          5|           44|         46|   N|                Y|
|R1C0W0OSBCVXC2|          1|           45|         46|   N|                Y|
|R154Q41ID7FTFC|          5|           24|         26|   N|                Y|
|R3GFX9ZNZ0T3TA|          1|           35|         35|   N|                Y|
|R2H8MH0N2IZKMY|          5|           22|         23|   N|                Y|
|R1MYE8WQ3812L8|          5|           17|         20|   N|                Y|
| RYSL8MU2858GB|          5|           71|         73|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [26]:
# count number of paid reviews 
from pyspark.sql.functions import count

tot_paid = filtered_by_vine_status_df.select(count('review_id'))
tot_paid.show()

+----------------+
|count(review_id)|
+----------------+
|              22|
+----------------+

In [20]:
tot_unpaid = filtered_by_no_vine_status_df.select(count('review_id'))

In [21]:
star5_paid = filtered_by_vine_status_df.filter("star_rating == 5").select(count('review_id'))

In [22]:
star5_unpaid = filtered_by_no_vine_status_df.filter("star_rating == 5").select(count('review_id'))

In [28]:
tot_paid_num = tot_paid.first()['count(review_id)']

In [29]:
tot_unpaid_num = tot_unpaid.first()['count(review_id)']

In [30]:
star5_paid_num = star5_paid.first()['count(review_id)']

In [31]:
star5_unpaid_num = star5_unpaid.first()['count(review_id)']

In [32]:
paid_ratio = star5_paid_num / tot_paid_num
paid_ratio

0.5909090909090909

In [33]:
unpaid_ratio = star5_unpaid_num / tot_unpaid_num
unpaid_ratio

0.5363693630266425

In [34]:
paid_ratio_less = 1 - paid_ratio

In [35]:
unpaid_ratio_less = 1 - unpaid_ratio

In [36]:
print(tot_paid_num)
print(tot_unpaid_num)
print(star5_paid_num)
print(star5_unpaid_num)

22
26987
13
14475

In [48]:
# dataframe summarizing the proportion of reviews that received 5 starts and under
import pandas as pd
summary_df = pd.DataFrame(data=[['Paid',paid_ratio, 1- paid_ratio], ['Unpaid',unpaid_ratio, 1-unpaid_ratio]], columns= ['Status','5 Stars', "Under 5 Stars"])
summary_df.set_index('Status', inplace=True)

summary_df

         5 Stars  Under 5 Stars
Status
Paid    0.590909       0.409091
Unpaid  0.536369       0.463631

In [50]:
# dataframe summarizing the number of frequency of 5 start reviews for paid and unpaid reviews
import pandas as pd
summary_df = pd.DataFrame(data=[['Paid',star5_paid_num, tot_paid_num, paid_ratio], ['Unpaid',star5_unpaid_num, tot_unpaid_num, unpaid_ratio]], columns= ['Status','5 Stars', "Total", "Ratio"])
summary_df.set_index('Status', inplace=True)

summary_df

        5 Stars  Total     Ratio
Status
Paid         13     22  0.590909
Unpaid    14475  26987  0.536369